<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="CV_Generator.SVC.Properties.Settings"
                type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
                requirePermission="false" />
    </sectionGroup>
      <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  </configSections>
  <appSettings>
    <add key="StartTime" value="09:30 AM" />
    <add key="callDuration" value="2" />
    <add key="CallType" value="1" />
    <add key="FromMail" value="pdzimbanete@gmail.com" />
    <add key="Password" value="pd7445264" />
    <add key="Host" value="smtp.gmail.com" />
  </appSettings>
  <system.net>
    <mailSettings>
      <smtp from="pdzimbanete@gmail.com">
        <network host="smtp.gmail.com" userName="pdzimbanete@gmail.com" password="pd7445264" enableSsl="true" port="587" />
      </smtp>
    </mailSettings>
  </system.net>
  
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <connectionStrings>
  <add name="EmailNotificationModel" connectionString="data source=TRAINING12-PC\SQLEXPRESS;initial catalog=CV_Generator;integrated security=True" providerName="System.Data.SqlClient" />
    <add name="DefaultConnection" connectionString="Data Source=TRAINING12-PC\SQLEXPRESS;Initial Catalog=CV_Generator;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="CV_GeneratorEntities" connectionString="metadata=res://*/ServiceModel.csdl|res://*/ServiceModel.ssdl|res://*/ServiceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=TRAINING12-PC\SQLEXPRESS;initial catalog=CV_Generator;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>